.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);
  padding-left: rem(50px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.downArrow {
  display: flex;
  padding-left: rem(25px);
}

.carouselContainer{
  display: flex;
  margin-left: 300px;
}